#naam {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    text-align: center;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}

#logo {
    position: absolute;
    left: 100px;
    top: 10px;
}

#profile {
    position: absolute;
    top: 470px;
    left: 1300px;
}

#reflectie {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    width: 800px;
    top: 400px;
    left: 100px;
}

#actiepunten {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    width: 700px;
    top: 1100px;
    right: 100px;
}

#toekomst {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    width: 700px;
    top: 1700px;
    left: 100px;
}

h2 {
    text-align: center;
    color: orange;
}